In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=76b4819b56bb8c3090fe43ff9508c6cae7936e0f21ddca1625b085bb1476b9b0
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark=spark.read.csv('sales_data.csv',header=True,inferSchema=True)

In [ ]:
df_pyspark.show()

+--------------------+----------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+
|              Region|   Country|      Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold|Unit Price|Unit Cost|
+--------------------+----------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+
|Middle East and N...|      NULL|      Cosmetics|      Offline|             M|10/18/2014|686800706|10/31/2014|      8446|     437.2|   263.33|
|       North America|    Canada|     Vegetables|       Online|             M| 11/7/2011|185941302| 12/8/2011|      NULL|    154.06|    90.93|
|Middle East and N...|     Libya|      Baby Food|      Offline|             C|10/31/2016|246222341| 12/9/2016|      1517|      NULL|   159.42|
|                Asia|     Japan|         Cereal|      Offline|             C| 4/10/2010|161442649| 5/12/2010|      3322|     205.7|     NULL|
|  Sub-Saharan Africa|      Chad|         Fruits|      Offline|             H| 8/16/2011|645713555| 8/31/2011|      9845|      9.33|     6.92|
|              Europe|   Armenia|         Cereal|       Online|             H|11/24/2014|683458888|12/28/2014|      9528|     205.7|   117.11|
|  Sub-Saharan Africa|   Eritrea|         Cereal|       Online|             H|  3/4/2015|679414975| 4/17/2015|      2844|      NULL|   117.11|
|              Europe|Montenegro|        Clothes|      Offline|             M| 5/17/2012|208630645| 6/28/2012|      7299|      NULL|    35.84|
|Central America a...|      NULL|     Vegetables|       Online|             H| 1/29/2015|266467225|  3/7/2015|      2428|    154.06|    90.93|
|Australia and Oce...|      Fiji|     Vegetables|      Offline|             H|12/24/2013|118598544| 1/19/2014|      4800|      NULL|    90.93|
|  Sub-Saharan Africa|      NULL|        Clothes|       Online|             M|12/29/2015|451010930| 1/19/2016|      3012|    109.28|     NULL|
|              Europe|Montenegro|         Snacks|      Offline|             M| 2/27/2010|220003211| 3/18/2010|      2694|    152.58|     NULL|
|              Europe|      NULL|      Household|       Online|             C|11/17/2016|702186715|12/22/2016|      1508|    668.27|     NULL|
|  Sub-Saharan Africa|     Sudan|      Cosmetics|       Online|             C|12/20/2015|544485270|  1/5/2016|      4146|     437.2|   263.33|
|                Asia|  Maldives|         Fruits|      Offline|             L|  1/8/2011|714135205|  2/6/2011|      7332|      NULL|     6.92|
|              Europe|Montenegro|        Clothes|      Offline|             H| 6/28/2010|448685348| 7/22/2010|      4820|      NULL|     NULL|
|              Europe|      NULL|Office Supplies|       Online|             H| 4/25/2016|405997025| 5/12/2016|      2397|    651.21|   524.96|
|       North America| Greenland|      Beverages|       Online|             M| 7/27/2012|414244067|  8/7/2012|      2880|     47.45|    31.79|
|  Sub-Saharan Africa|Cape Verde|        Clothes|       Online|             C|  9/8/2014|821912801| 10/3/2014|      NULL|    109.28|    35.84|
|  Sub-Saharan Africa|   Senegal|      Household|      Offline|             L| 8/27/2012|247802054|  9/8/2012|      8989|    668.27|   502.54|
+--------------------+----------+---------------+-------------+--------------+----------+---------+----------+----------+----------+---------+
only showing top 20 rows

In [ ]:
df_pyspark=df_pyspark.na.drop(how="any",subset=['Country'])

In [ ]:
df_pyspark.show()

+--------------------+--------------------+----------+-------------+--------------+----------+---------+----------+----------+----------+---------+
|              Region|             Country| Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold|Unit Price|Unit Cost|
+--------------------+--------------------+----------+-------------+--------------+----------+---------+----------+----------+----------+---------+
|       North America|              Canada|Vegetables|       Online|             M| 11/7/2011|185941302| 12/8/2011|      NULL|    154.06|    90.93|
|Middle East and N...|               Libya| Baby Food|      Offline|             C|10/31/2016|246222341| 12/9/2016|      1517|      NULL|   159.42|
|                Asia|               Japan|    Cereal|      Offline|             C| 4/10/2010|161442649| 5/12/2010|      3322|     205.7|     NULL|
|  Sub-Saharan Africa|                Chad|    Fruits|      Offline|             H| 8/16/2011|645713555| 8/31/2011|      9845|      9.33|     6.92|
|              Europe|             Armenia|    Cereal|       Online|             H|11/24/2014|683458888|12/28/2014|      9528|     205.7|   117.11|
|  Sub-Saharan Africa|             Eritrea|    Cereal|       Online|             H|  3/4/2015|679414975| 4/17/2015|      2844|      NULL|   117.11|
|              Europe|          Montenegro|   Clothes|      Offline|             M| 5/17/2012|208630645| 6/28/2012|      7299|      NULL|    35.84|
|Australia and Oce...|                Fiji|Vegetables|      Offline|             H|12/24/2013|118598544| 1/19/2014|      4800|      NULL|    90.93|
|              Europe|          Montenegro|    Snacks|      Offline|             M| 2/27/2010|220003211| 3/18/2010|      2694|    152.58|     NULL|
|  Sub-Saharan Africa|               Sudan| Cosmetics|       Online|             C|12/20/2015|544485270|  1/5/2016|      4146|     437.2|   263.33|
|                Asia|            Maldives|    Fruits|      Offline|             L|  1/8/2011|714135205|  2/6/2011|      7332|      NULL|     6.92|
|              Europe|          Montenegro|   Clothes|      Offline|             H| 6/28/2010|448685348| 7/22/2010|      4820|      NULL|     NULL|
|       North America|           Greenland| Beverages|       Online|             M| 7/27/2012|414244067|  8/7/2012|      2880|     47.45|    31.79|
|  Sub-Saharan Africa|          Cape Verde|   Clothes|       Online|             C|  9/8/2014|821912801| 10/3/2014|      NULL|    109.28|    35.84|
|  Sub-Saharan Africa|             Senegal| Household|      Offline|             L| 8/27/2012|247802054|  9/8/2012|      8989|    668.27|   502.54|
|Australia and Oce...|Federated States ...|    Snacks|       Online|             C|  9/3/2012|531023156|10/15/2012|       407|    152.58|    97.44|
|                Asia|            Mongolia|   Clothes|       Online|             L|12/12/2015|770478332| 1/24/2016|       515|    109.28|    35.84|
|Central America a...|             Grenada|    Cereal|       Online|             H|10/28/2012|430390107|11/13/2012|       852|     205.7|   117.11|
|  Sub-Saharan Africa|             Senegal| Beverages|      Offline|             M|10/22/2014|683927953| 11/4/2014|      NULL|     47.45|     NULL|
|       North America|           Greenland|    Fruits|      Offline|             M| 1/31/2012|469839179| 2/22/2012|      4709|      NULL|     6.92|
+--------------------+--------------------+----------+-------------+--------------+----------+---------+----------+----------+----------+---------+
only showing top 20 rows

In [ ]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['Units Sold','Unit Price', 'Unit Cost'],
    outputCols=["{}_imputed".format(c) for c in ['Units Sold','Unit Price', 'Unit Cost']]
    ).setStrategy("median")

In [ ]:
imputed_df = imputer.fit(df_pyspark).transform(df_pyspark)
imputed_df.show()

+--------------------+--------------------+----------+-------------+--------------+----------+---------+----------+----------+----------+---------+------------------+------------------+-----------------+
|              Region|             Country| Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold|Unit Price|Unit Cost|Units Sold_imputed|Unit Price_imputed|Unit Cost_imputed|
+--------------------+--------------------+----------+-------------+--------------+----------+---------+----------+----------+----------+---------+------------------+------------------+-----------------+
|       North America|              Canada|Vegetables|       Online|             M| 11/7/2011|185941302| 12/8/2011|      NULL|    154.06|    90.93|              5006|            154.06|            90.93|
|Middle East and N...|               Libya| Baby Food|      Offline|             C|10/31/2016|246222341| 12/9/2016|      1517|      NULL|   159.42|              1517|            154.06|           159.42|
|                Asia|               Japan|    Cereal|      Offline|             C| 4/10/2010|161442649| 5/12/2010|      3322|     205.7|     NULL|              3322|             205.7|            97.44|
|  Sub-Saharan Africa|                Chad|    Fruits|      Offline|             H| 8/16/2011|645713555| 8/31/2011|      9845|      9.33|     6.92|              9845|              9.33|             6.92|
|              Europe|             Armenia|    Cereal|       Online|             H|11/24/2014|683458888|12/28/2014|      9528|     205.7|   117.11|              9528|             205.7|           117.11|
|  Sub-Saharan Africa|             Eritrea|    Cereal|       Online|             H|  3/4/2015|679414975| 4/17/2015|      2844|      NULL|   117.11|              2844|            154.06|           117.11|
|              Europe|          Montenegro|   Clothes|      Offline|             M| 5/17/2012|208630645| 6/28/2012|      7299|      NULL|    35.84|              7299|            154.06|            35.84|
|Australia and Oce...|                Fiji|Vegetables|      Offline|             H|12/24/2013|118598544| 1/19/2014|      4800|      NULL|    90.93|              4800|            154.06|            90.93|
|              Europe|          Montenegro|    Snacks|      Offline|             M| 2/27/2010|220003211| 3/18/2010|      2694|    152.58|     NULL|              2694|            152.58|            97.44|
|  Sub-Saharan Africa|               Sudan| Cosmetics|       Online|             C|12/20/2015|544485270|  1/5/2016|      4146|     437.2|   263.33|              4146|             437.2|           263.33|
|                Asia|            Maldives|    Fruits|      Offline|             L|  1/8/2011|714135205|  2/6/2011|      7332|      NULL|     6.92|              7332|            154.06|             6.92|
|              Europe|          Montenegro|   Clothes|      Offline|             H| 6/28/2010|448685348| 7/22/2010|      4820|      NULL|     NULL|              4820|            154.06|            97.44|
|       North America|           Greenland| Beverages|       Online|             M| 7/27/2012|414244067|  8/7/2012|      2880|     47.45|    31.79|              2880|             47.45|            31.79|
|  Sub-Saharan Africa|          Cape Verde|   Clothes|       Online|             C|  9/8/2014|821912801| 10/3/2014|      NULL|    109.28|    35.84|              5006|            109.28|            35.84|
|  Sub-Saharan Africa|             Senegal| Household|      Offline|             L| 8/27/2012|247802054|  9/8/2012|      8989|    668.27|   502.54|              8989|            668.27|           502.54|
|Australia and Oce...|Federated States ...|    Snacks|       Online|             C|  9/3/2012|531023156|10/15/2012|       407|    152.58|    97.44|               407|            152.58|            97.44|
|                Asia|            Mongolia|   Clothes|       Online|             L|12/12/2015|770478332| 1/24/2016|       515|    109.28|    35.84|               515|            109.28|            35.84|
|Central America a...|             Grenada|    Cereal|       Online|             H|10/28/2012|430390107|11/13/2012|       852|     205.7|   117.11|               852|             205.7|           117.11|
|  Sub-Saharan Africa|             Senegal| Beverages|      Offline|             M|10/22/2014|683927953| 11/4/2014|      NULL|     47.45|     NULL|              5006|             47.45|            97.44|
|       North America|           Greenland|    Fruits|      Offline|             M| 1/31/2012|469839179| 2/22/2012|      4709|      NULL|     6.92|              4709|            154.06|             6.92|
+--------------------+--------------------+----------+-------------+--------------+----------+---------+----------+----------+----------+---------+------------------+------------------+-----------------+
only showing top 20 rows

In [ ]:
columns_to_drop = ['Units Sold', 'Unit Price', 'Unit Cost']
imputed_df = imputed_df.drop(*columns_to_drop)

imputed_df.show()

+--------------------+--------------------+----------+-------------+--------------+----------+---------+----------+------------------+------------------+-----------------+
|              Region|             Country| Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold_imputed|Unit Price_imputed|Unit Cost_imputed|
+--------------------+--------------------+----------+-------------+--------------+----------+---------+----------+------------------+------------------+-----------------+
|       North America|              Canada|Vegetables|       Online|             M| 11/7/2011|185941302| 12/8/2011|              5006|            154.06|            90.93|
|Middle East and N...|               Libya| Baby Food|      Offline|             C|10/31/2016|246222341| 12/9/2016|              1517|            154.06|           159.42|
|                Asia|               Japan|    Cereal|      Offline|             C| 4/10/2010|161442649| 5/12/2010|              3322|             205.7|            97.44|
|  Sub-Saharan Africa|                Chad|    Fruits|      Offline|             H| 8/16/2011|645713555| 8/31/2011|              9845|              9.33|             6.92|
|              Europe|             Armenia|    Cereal|       Online|             H|11/24/2014|683458888|12/28/2014|              9528|             205.7|           117.11|
|  Sub-Saharan Africa|             Eritrea|    Cereal|       Online|             H|  3/4/2015|679414975| 4/17/2015|              2844|            154.06|           117.11|
|              Europe|          Montenegro|   Clothes|      Offline|             M| 5/17/2012|208630645| 6/28/2012|              7299|            154.06|            35.84|
|Australia and Oce...|                Fiji|Vegetables|      Offline|             H|12/24/2013|118598544| 1/19/2014|              4800|            154.06|            90.93|
|              Europe|          Montenegro|    Snacks|      Offline|             M| 2/27/2010|220003211| 3/18/2010|              2694|            152.58|            97.44|
|  Sub-Saharan Africa|               Sudan| Cosmetics|       Online|             C|12/20/2015|544485270|  1/5/2016|              4146|             437.2|           263.33|
|                Asia|            Maldives|    Fruits|      Offline|             L|  1/8/2011|714135205|  2/6/2011|              7332|            154.06|             6.92|
|              Europe|          Montenegro|   Clothes|      Offline|             H| 6/28/2010|448685348| 7/22/2010|              4820|            154.06|            97.44|
|       North America|           Greenland| Beverages|       Online|             M| 7/27/2012|414244067|  8/7/2012|              2880|             47.45|            31.79|
|  Sub-Saharan Africa|          Cape Verde|   Clothes|       Online|             C|  9/8/2014|821912801| 10/3/2014|              5006|            109.28|            35.84|
|  Sub-Saharan Africa|             Senegal| Household|      Offline|             L| 8/27/2012|247802054|  9/8/2012|              8989|            668.27|           502.54|
|Australia and Oce...|Federated States ...|    Snacks|       Online|             C|  9/3/2012|531023156|10/15/2012|               407|            152.58|            97.44|
|                Asia|            Mongolia|   Clothes|       Online|             L|12/12/2015|770478332| 1/24/2016|               515|            109.28|            35.84|
|Central America a...|             Grenada|    Cereal|       Online|             H|10/28/2012|430390107|11/13/2012|               852|             205.7|           117.11|
|  Sub-Saharan Africa|             Senegal| Beverages|      Offline|             M|10/22/2014|683927953| 11/4/2014|              5006|             47.45|            97.44|
|       North America|           Greenland|    Fruits|      Offline|             M| 1/31/2012|469839179| 2/22/2012|              4709|            154.06|             6.92|
+--------------------+--------------------+----------+-------------+--------------+----------+---------+----------+------------------+------------------+-----------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col, format_number,sum,lit,round
from pyspark.sql.types import DoubleType

df = imputed_df.withColumn("Total_Cost", col("Units Sold_imputed") * col("Unit Cost_imputed"))
df = df.withColumn("Total_Cost", round(col("Total_Cost"), 2))

In [ ]:
df.show()

+--------------------+--------------------+----------+-------------+--------------+----------+---------+----------+------------------+------------------+-----------------+----------+
|              Region|             Country| Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold_imputed|Unit Price_imputed|Unit Cost_imputed|Total_Cost|
+--------------------+--------------------+----------+-------------+--------------+----------+---------+----------+------------------+------------------+-----------------+----------+
|       North America|              Canada|Vegetables|       Online|             M| 11/7/2011|185941302| 12/8/2011|              5006|            154.06|            90.93| 455195.58|
|Middle East and N...|               Libya| Baby Food|      Offline|             C|10/31/2016|246222341| 12/9/2016|              1517|            154.06|           159.42| 241840.14|
|                Asia|               Japan|    Cereal|      Offline|             C| 4/10/2010|161442649| 5/12/2010|              3322|             205.7|            97.44| 323695.68|
|  Sub-Saharan Africa|                Chad|    Fruits|      Offline|             H| 8/16/2011|645713555| 8/31/2011|              9845|              9.33|             6.92|   68127.4|
|              Europe|             Armenia|    Cereal|       Online|             H|11/24/2014|683458888|12/28/2014|              9528|             205.7|           117.11|1115824.08|
|  Sub-Saharan Africa|             Eritrea|    Cereal|       Online|             H|  3/4/2015|679414975| 4/17/2015|              2844|            154.06|           117.11| 333060.84|
|              Europe|          Montenegro|   Clothes|      Offline|             M| 5/17/2012|208630645| 6/28/2012|              7299|            154.06|            35.84| 261596.16|
|Australia and Oce...|                Fiji|Vegetables|      Offline|             H|12/24/2013|118598544| 1/19/2014|              4800|            154.06|            90.93|  436464.0|
|              Europe|          Montenegro|    Snacks|      Offline|             M| 2/27/2010|220003211| 3/18/2010|              2694|            152.58|            97.44| 262503.36|
|  Sub-Saharan Africa|               Sudan| Cosmetics|       Online|             C|12/20/2015|544485270|  1/5/2016|              4146|             437.2|           263.33|1091766.18|
|                Asia|            Maldives|    Fruits|      Offline|             L|  1/8/2011|714135205|  2/6/2011|              7332|            154.06|             6.92|  50737.44|
|              Europe|          Montenegro|   Clothes|      Offline|             H| 6/28/2010|448685348| 7/22/2010|              4820|            154.06|            97.44|  469660.8|
|       North America|           Greenland| Beverages|       Online|             M| 7/27/2012|414244067|  8/7/2012|              2880|             47.45|            31.79|   91555.2|
|  Sub-Saharan Africa|          Cape Verde|   Clothes|       Online|             C|  9/8/2014|821912801| 10/3/2014|              5006|            109.28|            35.84| 179415.04|
|  Sub-Saharan Africa|             Senegal| Household|      Offline|             L| 8/27/2012|247802054|  9/8/2012|              8989|            668.27|           502.54|4517332.06|
|Australia and Oce...|Federated States ...|    Snacks|       Online|             C|  9/3/2012|531023156|10/15/2012|               407|            152.58|            97.44|  39658.08|
|                Asia|            Mongolia|   Clothes|       Online|             L|12/12/2015|770478332| 1/24/2016|               515|            109.28|            35.84|   18457.6|
|Central America a...|             Grenada|    Cereal|       Online|             H|10/28/2012|430390107|11/13/2012|               852|             205.7|           117.11|  99777.72|
|  Sub-Saharan Africa|             Senegal| Beverages|      Offline|             M|10/22/2014|683927953| 11/4/2014|              5006|             47.45|            97.44| 487784.64|
|       North America|           Greenland|    Fruits|      Offline|             M| 1/31/2012|469839179| 2/22/2012|              4709|            154.06|             6.92|  32586.28|
+--------------------+--------------------+----------+-------------+--------------+----------+---------+----------+------------------+------------------+-----------------+----------+
only showing top 20 rows

In [ ]:
df = df.withColumn("Total_Revenue", col("Units Sold_imputed") * col("Unit Price_imputed"))
df = df.withColumn("Total_Revenue", round(col("Total_Revenue"), 2))

df = df.withColumn("Total_Profit", col("Total_Revenue") - col("Total_Cost"))
df = df.withColumn("Total_Profit", round(col("Total_Profit"), 2))

In [ ]:
df.show()

+--------------------+--------------------+----------+-------------+--------------+----------+---------+----------+------------------+------------------+-----------------+----------+-------------+------------+
|              Region|             Country| Item Type|Sales Channel|Order Priority|Order Date| Order ID| Ship Date|Units Sold_imputed|Unit Price_imputed|Unit Cost_imputed|Total_Cost|Total_Revenue|Total_Profit|
+--------------------+--------------------+----------+-------------+--------------+----------+---------+----------+------------------+------------------+-----------------+----------+-------------+------------+
|       North America|              Canada|Vegetables|       Online|             M| 11/7/2011|185941302| 12/8/2011|              5006|            154.06|            90.93| 455195.58|    771224.36|   316028.78|
|Middle East and N...|               Libya| Baby Food|      Offline|             C|10/31/2016|246222341| 12/9/2016|              1517|            154.06|           159.42| 241840.14|    233709.02|    -8131.12|
|                Asia|               Japan|    Cereal|      Offline|             C| 4/10/2010|161442649| 5/12/2010|              3322|             205.7|            97.44| 323695.68|     683335.4|   359639.72|
|  Sub-Saharan Africa|                Chad|    Fruits|      Offline|             H| 8/16/2011|645713555| 8/31/2011|              9845|              9.33|             6.92|   68127.4|     91853.85|    23726.45|
|              Europe|             Armenia|    Cereal|       Online|             H|11/24/2014|683458888|12/28/2014|              9528|             205.7|           117.11|1115824.08|    1959909.6|   844085.52|
|  Sub-Saharan Africa|             Eritrea|    Cereal|       Online|             H|  3/4/2015|679414975| 4/17/2015|              2844|            154.06|           117.11| 333060.84|    438146.64|    105085.8|
|              Europe|          Montenegro|   Clothes|      Offline|             M| 5/17/2012|208630645| 6/28/2012|              7299|            154.06|            35.84| 261596.16|   1124483.94|   862887.78|
|Australia and Oce...|                Fiji|Vegetables|      Offline|             H|12/24/2013|118598544| 1/19/2014|              4800|            154.06|            90.93|  436464.0|     739488.0|    303024.0|
|              Europe|          Montenegro|    Snacks|      Offline|             M| 2/27/2010|220003211| 3/18/2010|              2694|            152.58|            97.44| 262503.36|    411050.52|   148547.16|
|  Sub-Saharan Africa|               Sudan| Cosmetics|       Online|             C|12/20/2015|544485270|  1/5/2016|              4146|             437.2|           263.33|1091766.18|    1812631.2|   720865.02|
|                Asia|            Maldives|    Fruits|      Offline|             L|  1/8/2011|714135205|  2/6/2011|              7332|            154.06|             6.92|  50737.44|   1129567.92|  1078830.48|
|              Europe|          Montenegro|   Clothes|      Offline|             H| 6/28/2010|448685348| 7/22/2010|              4820|            154.06|            97.44|  469660.8|     742569.2|    272908.4|
|       North America|           Greenland| Beverages|       Online|             M| 7/27/2012|414244067|  8/7/2012|              2880|             47.45|            31.79|   91555.2|     136656.0|     45100.8|
|  Sub-Saharan Africa|          Cape Verde|   Clothes|       Online|             C|  9/8/2014|821912801| 10/3/2014|              5006|            109.28|            35.84| 179415.04|    547055.68|   367640.64|
|  Sub-Saharan Africa|             Senegal| Household|      Offline|             L| 8/27/2012|247802054|  9/8/2012|              8989|            668.27|           502.54|4517332.06|   6007079.03|  1489746.97|
|Australia and Oce...|Federated States ...|    Snacks|       Online|             C|  9/3/2012|531023156|10/15/2012|               407|            152.58|            97.44|  39658.08|     62100.06|    22441.98|
|                Asia|            Mongolia|   Clothes|       Online|             L|12/12/2015|770478332| 1/24/2016|               515|            109.28|            35.84|   18457.6|      56279.2|     37821.6|
|Central America a...|             Grenada|    Cereal|       Online|             H|10/28/2012|430390107|11/13/2012|               852|             205.7|           117.11|  99777.72|     175256.4|    75478.68|
|  Sub-Saharan Africa|             Senegal| Beverages|      Offline|             M|10/22/2014|683927953| 11/4/2014|              5006|             47.45|            97.44| 487784.64|     237534.7|  -250249.94|
|       North America|           Greenland|    Fruits|      Offline|             M| 1/31/2012|469839179| 2/22/2012|              4709|            154.06|             6.92|  32586.28|    725468.54|   692882.26|
+--------------------+--------------------+----------+-------------+--------------+----------+---------+----------+------------------+------------------+-----------------+----------+-------------+------------+
only showing top 20 rows

In [ ]:
total_cost_by_product = df.groupBy("Item Type") \
    .agg(format_number(sum(col("Total_Cost")), 2).alias("Total_Total_Cost")) \
    .orderBy("Item Type")

total_cost_by_product.show()

+---------------+----------------+
|      Item Type|Total_Total_Cost|
+---------------+----------------+
|      Baby Food|   51,130,537.14|
|      Beverages|   17,953,976.03|
|         Cereal|   40,170,688.60|
|        Clothes|   16,620,121.28|
|      Cosmetics|   71,699,199.36|
|         Fruits|    5,146,107.12|
|      Household|  127,663,742.00|
|           Meat|  100,319,529.75|
|Office Supplies|  136,188,375.36|
|  Personal Care|   22,510,292.58|
|         Snacks|   31,457,919.36|
|     Vegetables|   32,191,724.46|
+---------------+----------------+

In [ ]:
total_Revenue_by_product = df.groupBy("Item Type") \
    .agg(format_number(sum(col("Total_Revenue")), 2).alias("Total_Revenue_Cost")) \
    .orderBy("Item Type")

total_Revenue_by_product.show()

+---------------+------------------+
|      Item Type|Total_Revenue_Cost|
+---------------+------------------+
|      Baby Food|     80,565,795.50|
|      Beverages|     26,519,615.03|
|         Cereal|     68,180,278.24|
|        Clothes|     37,218,046.20|
|      Cosmetics|    122,128,032.54|
|         Fruits|     12,514,633.96|
|      Household|    157,558,416.93|
|           Meat|    124,952,771.15|
|Office Supplies|    181,633,529.92|
|  Personal Care|     33,603,770.64|
|         Snacks|     49,356,008.36|
|     Vegetables|     53,922,540.60|
+---------------+------------------+

In [ ]:
total_Profit_by_product = df.groupBy("Item Type") \
    .agg(format_number(sum(col("Total_Profit")), 2).alias("Total_Profit_Cost")) \
    .orderBy("Item Type")

total_Profit_by_product.show()

+---------------+-----------------+
|      Item Type|Total_Profit_Cost|
+---------------+-----------------+
|      Baby Food|    29,435,258.36|
|      Beverages|     8,565,639.00|
|         Cereal|    28,009,589.64|
|        Clothes|    20,597,924.92|
|      Cosmetics|    50,428,833.18|
|         Fruits|     7,368,526.84|
|      Household|    29,894,674.93|
|           Meat|    24,633,241.40|
|Office Supplies|    45,445,154.56|
|  Personal Care|    11,093,478.06|
|         Snacks|    17,898,089.00|
|     Vegetables|    21,730,816.14|
+---------------+-----------------+

In [ ]:
df.write.csv("imputed_data.csv", header=True)

In [ ]:
spark.stop()